Port 22
PasswordAuthentication no
ChallengeResponseAuthentication no
PermitRootLogin no
AllowUsers scanner
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
UsePAM no
PrintMotd no

LogLevel VERBOSE

Subsystem sftp internal-sftp

HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_ssh-rsa_key

# support old clients
HostKeyAlgorithms +ssh-rsa
PubkeyAcceptedAlgorithms +ssh-rsa
Ciphers +aes128-ctr
KexAlgorithms +diffie-hellman-group-exchange-sha256

Match User scanner
    ChrootDirectory /home/scanner
    ForceCommand internal-sftp 
    AllowTCPForwarding no
    X11Forwarding no
    
