Port 22
Protocol 2

AllowUsers scanner
PubkeyAuthentication yes
AuthenticationMethods publickey
AuthorizedKeysFile .ssh/authorized_keys

HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_ssh-rsa_key

Subsystem sftp internal-sftp

LogLevel INFO

PasswordAuthentication no
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
PermitRootLogin no
UsePAM no
PrintMotd no
PermitTunnel no
AllowTcpForwarding no
X11Forwarding no
PermitTTY no
GatewayPorts no

LoginGraceTime 10
UseDNS no

MaxAuthTries 3

# support old clients
HostKeyAlgorithms +ssh-rsa
PubkeyAcceptedAlgorithms +ssh-rsa
Ciphers +aes128-ctr
KexAlgorithms +diffie-hellman-group-exchange-sha256

Match User scanner
    ChrootDirectory /home/scanner
    ForceCommand internal-sftp
